.layout-container {
	width: calc(1280px + 40px);
	padding-left: 20px;
	padding-right: 20px;
	max-width: 100%;
	display: block;
	margin: auto;
}

.min-content-height {
	min-height: calc(100vh - 264px);
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid black;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
